body {
    background-color: aqua;

}
h1{
    font-family: "Felix Titling";
    font-size: 50px;
text-align: center;
}

table{
    border: black;

}
tr,td{
    border: 1px black;
    border-collapse: collapse;

}
.img-container{
    text-align: center;
    display: block;
}
.center {
    margin-left: auto;
    margin-right: auto;

}
footer {
    text-align: center;
    padding: 1px;


