body {
    background-color: aqua;
    font-family: "Felix Titling"
    font-size: 25px




}
h1{
    font-family: "Felix Titling";
    font-size: 50px;
    margin-left: 700px;





}
img{
    margin-left: 700px;
}


table{
    border: black;
    margin-left 700px

}
tr,td{
    border: 1px black;
    border-collapse: collapse;

}